body,div,span,h1,h2,h3,h4,h5,h6,a,p,ul,li,img,strong,hr,font{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
a{
	text-decoration: none;
}
/* 头部 */
.header{
	width: 100%;
	height: 25px;
	background: #454445;
}
.header ul{
	width: 1200px;
	height: 25px;
	background: #454445;
	margin:0 auto;
}
.header ul li{
	width: auto;
	height: 100%;
	float: left;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	margin-right: 15px;
}
.header ul li a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
}
.header ul li a:hover{
	text-decoration: underline;
	color: #E60012;
}

/* 导航 */
.nav{
	width: 100%;
	height: 600px;
	background: url(../image/tiao.png) repeat-x 0 590px;
	background-size: 18px 10px;
}
.header1{
	width: 1200px;
	height: 86px;
	margin: 0 auto;
	position: absolute;
	left: 60px;
	top: 0;
}
.header1 h1{
	float: left;
	margin-top: 31px;
	margin-left: 21px;
	font-family: "长城中隶体";
}
.nav_box1 .header1 img{
	width: 60px;
	height: 80px;
	margin-top: 3px;
	margin-left: 22px;
	float: left;
}
.header1 ul{
	width: 765px;
	height: 30px;
	float: left;
	margin-top: 30px;
	margin-left: 110px;
}
.header1 ul li{
	width: 90px;
	height: 30px;
	float: left;
	text-align: center;
	margin-right: 15px;
}
.header1 ul li.li1{
	box-shadow: 2px 2px 4px #585252;
	background: #DFD2DD;
	border-radius: 5px;
}
.header1 ul li a.a1{
	color: red;
}
.header1 ul li a{
	padding: 0 5px;
	line-height: 30px;
	font-size: 14px;
	display: block;
	text-decoration: none;
	color: #000;
}
.header1 .navbox1{
	float: left;
	width: 300px;
	height: 25px;
	margin-top: 21px;
	margin-left: 6px;
}
.header1 #text{
	width: 200px;
	height: 20px;
	float: left;
}
.header1 #btn{
	width: 50px;
	height: 26px;
	float: left;
	margin-left: -1px;
}
.nav_box1{
	width: 100%;
	height: 590px;
	position: relative;
	overflow: hidden;
}
.nav_box1 div.words{
	position: absolute;
	left:0;
	top:0;
    opacity: 0;
    transition: 1s;
}
.nav_box1 div.show{
	display: block;
	opacity: 1;
}
.nav_box1 img{
	width: 100%;
	height: 100%;
}
.nav_box1  .click{
	width: 120px;
	height:30px;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -60px;
}
.nav_box1  .click li{
	float: left;
	width: 14px;
	height:14px;
	background: #7B7B7B;
	border-radius: 15px;
	margin-right:10px;
	opacity: 0.7; 
}
.nav_box1  .click li.onclick{
	width: 10px;
	height:10px;
	border: 2px solid #7B7B7B;
	background: #fff;
	
}


.content{
	width: 100%;
	height: 820px;
	background: url(../image/company-back_02.png);
}
.jianjie{
	width: 600px;
	height: 30px;
	/*background: pink;*/
	margin: 20px auto;
}
.line1{
	width: 200px;
	height: 2px;
	background: #ccc;
	float: left;
	margin-top: 10px;
	
}
.jianjie h3{
	width: 80px;
	margin-left: 65px;
	float: left;
}
.line2{
	width: 200px;
	height: 2px;
	background: #ccc;
    margin-left: 400px;
    margin-top: -12px;
    float: left;
}
.smallnav{
	width: 80%;
	height: 30px;
	margin: 0 auto;
}
.smallnav ul{
	width: 600px;
	height: 100%;
	margin: 0 auto;
	background: rgb(228,213,195);
}
.smallnav ul li{
	line-height: 30px;
	text-align: center;
	width: 100px;
	height: 30px;
	float: left;
}
.smallnav ul li a{
	display: inline-block;
	color: #000;
}
.smallnav ul li a.active{
	color: #fff;
}
.smallnav .active{
	background: rgb(163,136,105);
}
.tea-all{
	width: 100%;
	height: 820px;
	margin: 0 auto;
}
.tea-all ul{
	width: 1200px;
	height: 820px;
	margin: 0 auto;
	margin-top: 30px;
}
.tea-all ul li{
	float: left;
	padding: 8px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
    border-bottom: 1px dashed #ccc;
}
.tea-all ul li h4{
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;

}
.tea-all ul li span{
	width: 10%;
	line-height: 40px;
	float: right;
	color: #ccc;
	font-size: 12px;
}
.tea-all ul li h4 a{
	float: left;
	display: inline-block;
	color: #3A0E7D;
}
.tea-all ul li h4 a:hover{
	color: #E51C1C;
	text-decoration: underline;
}
.tea-all ul li p{
	/*text-indent: 2em;*/
	width: 100%;
	height: auto;
	line-height: 25px;
	font-size: 14px;
	float: left;
}
.tea-all ul li p a{
	text-indent: 2em;
	display: inline-block;
	color: #000;
}
.tea-all ul li p a:hover{
	color: #7D7D7D;
	text-decoration: underline;
}
.tea-one{
	width: 100%;
	height: 125px;
	border-bottom: 1px dashed #3e3e3e;
	/*background:yellow; */
}
.one2{
	margin-top: 20px;
	height: 110px;
}
.tea-one p{
	width: 100%;
	height: auto;
	line-height: 30px;
	text-indent: 2em;
	margin-top: 10px;
}
.tea-two{
	width: 100%;
	height: 85px;
	border-bottom: 1px dashed #3e3e3e;
	/*background:yellow;*/
	margin-top: 20px; 
}
.tea-two p{
	width: 100%;
	height: 85px;
	text-indent: 2em;
	margin-top: 10px;
}
.tea-bottom{
	width: 300px;
	height: 35px;
	left: 32%;
	position: absolute;
	/*background: red;*/
	margin-top: 20px;
}
.tea-bottom ul li{
	width: 20px;
	height: 20px;
	text-align: center;
	float: left;
	margin-left: 10px;
	border: 1px solid #000;
}
.tea-bottom ul li a{
	line-height: 20px;
	display: inline-block;
}
.tea-bottom .none{
	border: 0;
}
.tea-bottom .none a{
	color: red;
}
.tea-bottom .big1{
	width: 60px;
}
.tea-bottom .big2{
	width: 40px;
}
.footer{
	width: 100%;
	height: 120px;
	background: #ccc;
}
.footer-bg{
	width: 100%;
	height: 15px;
	background: url(../image/tiao.png) repeat-x 0 0;
}
.footer_box{
	width: 1200px;
	height: 100px;
	background: #ccc;
	margin: 0 auto;
}
.footer_box ul{
	width: 510px;
	height: 25px;
	padding-top: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.footer_box ul li{
	width: auto;
	height: 25px;
	float: left;
	margin-left: 5px;
}
.footer_box ul li a{
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #302E2E;
	font-size: 14px;
}
.footer_box ul li a:hover{
	text-decoration: underline;
	color: #fff;
}
.footer_box p{
	width: 700px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #4E4C4C;
}

/* 登录 */
.land{
	display: none;
	width: 100%;
	height: 650px;
	background: rgba(0,0,0,0.4);
	position: fixed;
	left:0;
	top:0;
}
.land_in{
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -180px;
	margin-top: -200px;

	width: 360px;
	height:400px;
	background: #fff;
}
.land_in .top{
	width: 350px;
	height:40px;
	background: #ccc;
	padding:5px;
	position: relative;
}
.land_in .top img{
	display: inline-block;
}
.land_in .top span{
	width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: 宋体;
    font-weight: 700;
    color: rgb(102, 102, 102);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: content-box;
}
.land_in .top .close{
	position: absolute;
	right:5px;
	top:11px;
}
.main{
	padding: 35px 25px;
}
.main input{
	border:1px solid #ccc;
}
.main .inp1{
   background: url(../image/people.png) no-repeat 3px 5px;
   background-size:20px 20px;
   margin-bottom: 30px;
   padding-left: 30px;
}
.main .inp2{
   background: url(../image/close2.png) no-repeat 3px 3px;
   background-size:20px 20px;
   margin-bottom: 15px;
   padding-left: 30px;
}
.main span{
	font-size: 13px;
	color: #bbb;
}
.main .inp3{
	text-align: center;
	color:#fff;
	font-weight: bold;
	font-size: 20px;
	background: rgb(145,146,148);
	margin-top: 10px;
	border:0;
}
.main div{
	height:35px;
	float: right;
	margin-top: 10px;
}
.main a{
	color:blue;
	text-decoration: none;
}
.main hr{
	background: #ccc;
	height:1px;
	width: 310px;
	margin-bottom:15px;
}