body,div,span,h1,h2,h3,h4,h5,h6,a,p,ul,li,img,strong,hr,font{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
body{
  position: relative;
}
/* 头部 */
.header{
	width: 100%;
	height: 25px;
	background: #454445;
}
.header ul{
	width: 1200px;
	height: 25px;
	background: #454445;
	margin:0 auto;
}
.header ul li{
	width: auto;
	height: 100%;
	float: left;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	margin-right: 15px;
}
.header ul li a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
}
.header ul li a:hover{
	text-decoration: underline;
	color: #E60012;
}

/* 导航 */
.nav{
	width: 100%;
	height: 600px;
	background: url(../image/tiao.png) repeat-x 0 590px;
	background-size: 18px 10px;
}
.header1{
	width: 1200px;
	height: 86px;
	margin: 0 auto;
	position: absolute;
	left: 60px;
	top: 0;
}
.header1 h1{
	float: left;
	margin-top: 31px;
	margin-left: 21px;
	font-family: "长城中隶体";
}
.nav_box1 .header1 img{
	width: 60px;
	height: 80px;
	margin-top: 3px;
	margin-left: 22px;
	float: left;
}
.header1 ul{
	width: 765px;
	height: 30px;
	float: left;
	margin-top: 30px;
	margin-left: 110px;
}
.header1 ul li{
	width: 90px;
	height: 30px;
	float: left;
	text-align: center;
	margin-right: 15px;
}
.header1 ul li.li1{
	box-shadow: 2px 2px 4px #585252;
	background: #DFD2DD;
	border-radius: 5px;
}
.header1 ul li a.a1{
	color: red;
}
.header1 ul li a{
	padding: 0 5px;
	line-height: 30px;
	font-size: 14px;
	display: block;
	text-decoration: none;
	color: #000;
}
.header1 .navbox1{
	float: left;
	width: 300px;
	height: 25px;
	margin-top: 21px;
	margin-left: 6px;
}
.header1 #text{
	width: 200px;
	height: 20px;
	float: left;
}
.header1 #btn{
	width: 50px;
	height: 26px;
	float: left;
	margin-left: -1px;
}
.nav_box1{
	width: 100%;
	height: 590px;
	position: relative;
	overflow: hidden;
}
.nav_box1 div.words{
	position: absolute;
	left:0;
	top:0;
    opacity: 0;
    transition: 1s;
}
.nav_box1 div.show{
	display: block;
	opacity: 1;
}
.nav_box1 img{
	width: 100%;
	height: 100%;
}
.nav_box1  .click{
	width: 120px;
	height:30px;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -60px;
}
.nav_box1  .click li{
	float: left;
	width: 14px;
	height:14px;
	background: #7B7B7B;
	border-radius: 15px;
	margin-right:10px;
	opacity: 0.7; 
}
.nav_box1  .click li.onclick{
	width: 10px;
	height:10px;
	border: 2px solid #7B7B7B;
	background: #fff;
	
}


/* content */
.content{
	width: 100%;
	height: 1760px;
}

/* con1 */
.content .con1{
	width: 100%;
	height: 600px;
	background: url(../image/tiao.png) repeat-x 0 590px;
	background-size: 18px 10px;
	position: relative;
}
.con_img{
	width: 100%;
	height: 98.5%;
}
.con{
	width: 1200px;
	height: 50px;
	position: absolute;
	background: url(../image/title.png) no-repeat 546px 10px;
	background-size: 155px 40px;
	left: 60px;
	top: 0;
} 
.con h3{
	margin-left: 570px;
	margin-top: 23px;
}
.con1 ul{
	width: 600px;
	height: 300px;
	position: absolute;
	left: 376px;
	top: 66px;
}
.con1 ul li{
	width: 18px;
	height: 300px;
	float:right;
	margin-left: 15px;
	text-align: center;
	font-family: "长城中隶体";
}
.con1 ul li span{
	width: 18px;
	float: left;
	font-family: "微软雅黑";
	text-align: center;
}
@keyframes fade-in{  
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-webkit-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-ms-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-o-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-moz-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
.first-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 0s 1;    
    -webkit-animation: fade-in 2s ease 0s 1;
    -moz-animation: fade-in 2s ease 0s 1;
    -o-animation: fade-in 2s ease 0s 1;
    -ms-animation: fade-in 2s ease 0s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.second-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 1s 1;    
    -webkit-animation: fade-in 2s ease 1s 1;
    -moz-animation: fade-in 2s ease 1s 1;
    -o-animation: fade-in 2s ease 1s 1;
    -ms-animation: fade-in 2s ease 1s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.three-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 2s 1;    
    -webkit-animation: fade-in 4s ease 2s 1;
    -moz-animation: fade-in 2s ease 2s 1;
    -o-animation: fade-in 2s ease 2s 1;
    -ms-animation: fade-in 2s ease 2s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.four-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 3s 1;    
    -webkit-animation: fade-in 2s ease 3s 1;
    -moz-animation: fade-in 2s ease 3s 1;
    -o-animation: fade-in 2s ease 3s 1;
    -ms-animation: fade-in 2s ease 3s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.five-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 4s 1;    
    -webkit-animation: fade-in 2s ease 4s 1;
    -moz-animation: fade-in 2s ease 4s 1;
    -o-animation: fade-in 2s ease 4s 1;
    -ms-animation: fade-in 2s ease 4s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.six-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 5s 1;    
    -webkit-animation: fade-in 2s ease 5s 1;
    -moz-animation: fade-in 2s ease 5s 1;
    -o-animation: fade-in 2s ease 5s 1;
    -ms-animation: fade-in 2s ease 5s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.seven-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 6s 1;    
    -webkit-animation: fade-in 2s ease 6s 1;
    -moz-animation: fade-in 2s ease 6s 1;
    -o-animation: fade-in 2s ease 6s 1;
    -ms-animation: fade-in 2s ease 6s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.eight-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 7s 1;    
    -webkit-animation: fade-in 2s ease 7s 1;
    -moz-animation: fade-in 2s ease 7s 1;
    -o-animation: fade-in 2s ease 7s 1;
    -ms-animation: fade-in 2s ease 7s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.nine-words{ 
    opacity: 0;      
    animation: fade-in 2s ease 8s 1;    
    -webkit-animation: fade-in 2s ease 8s 1;
    -moz-animation: fade-in 2s ease 8s 1;
    -o-animation: fade-in 2s ease 8s 1;
    -ms-animation: fade-in 2s ease 8s 1;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}

/* con2 */
.con2{
	width: 100%;
	height: 600px;
	background: url(../image/tiao.png) repeat-x 0 590px;
	background-size: 18px 10px;
	position: relative;
}
.con2_box2{
	width: 450px;
	height: 450px;
	border-radius: 225.5px;
	position: absolute;
	left: 260px;
	top: 92px;
	border: 1px solid #000;
}
.con2_box2 ul{
	width: 450px;
	height: 450px;
	position: relative;
	transition:1s;
	-webkit-transform:rotate(135deg);
	-webkit-transform-origin:225px 225px;
	-o-transform:rotate(135deg);
	-o-transform-origin:225px 225px;
	-ms-transform:rotate(135deg);
	-ms-transform-origin:225px 225px;
	-moz-transform:rotate(135deg);
	-moz-transform-origin:225px 225px;	
}
.con2_box2 ul li{
	background: #fff;
	width: 120px;
	height: 120px;
	border:10px solid #ccc;
	border-radius:100px ;
	overflow: hidden;
	position: absolute;
	/*left:18px;
	top: -34px;*/
	-webkit-transform-origin:225px 225px;
	-o-transform-origin:225px 225px;
	-ms-transform-origin:225px 225px;
	-moz-transform-origin:225px 225px;
}
.con2_box2 ul li.li0{
	background: #fff;
	width: 150px;
	height: 150px;
	border:10px solid #ccc;
	border-radius:120px ;
	overflow: hidden;
}
.con2_box2 ul li.li0 img{
	width: 150px;
    height: 150px;
    opacity: 1;
}
.con2_box2 ul li img{
	width: 120px;
	height: 120px;
	opacity: 0.65;
}
.con2_box ul li.li1{
	width: 160px;
	height: 160px;
	border:10px solid #ccc;
	border-radius:120px ;
}

@-webkit-keyframes scale{
	100%{
		transform: scale(1);
	}
}
@-o-keyframes scale{
	100%{
		transform: scale(1);
	}
}
@-ms-keyframes scale{
	100%{
		transform: scale(1);
	}
}
@-moz-keyframes scale{
	100%{
		transform: scale(1);
	}
}


.con2_box3{
	width: 230px;
	height: 390px;
	position: absolute;
	left: 880px;
	top: 112px;
}
.con2_box3 span{
	width: 220px;
	height: 21px;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.con2_box3 span img{
	width: 100%;
	height: 100%;
}
#con2_box3{
	width: 185px;
	height: 0px;
	float: left;
	margin-left: 17px;
	overflow: hidden;
	background: url(../image/juanzhoucenter.png) no-repeat 0 0;
    background-size: 185px 334px;
}
#con2_box3 ul{
	float: left;
	width: 185px;
    height:331px;
    display: none;
    overflow: hidden;
}
.con2_box3 ul li{
	width: 15px;
	margin-top: 36px;
	margin-right: 12px;
	height:300px;
	float: right;
	font-size: 15px;
	font-family: "长城中隶体";
}
.con2_box3 ul li.special{
	margin-top: 19px;
	margin-right: 25px;
}
.con2_box3 ul li span{
	display: block;
}
.con2 .con2_box4{
	width: 210px;
	height: 110px;
	position: absolute;
	left: 372px;
	top: 268px;
	overflow: hidden;
}
@-webkit-keyframes move{
	0%{
		margin-left: 0;
	}
	100%{
		margin-left: -490px;
	}
}
@-o-keyframes move{
	0%{
		margin-left: 0;
	}
	100%{
		margin-left: -490px;
	}
}
@-ms-keyframes move{
	0%{
		margin-left: 0;
	}
	100%{
		margin-left: -490px;
	}
}
@-moz-keyframes move{
	0%{
		margin-left: 0;
	}
	100%{
		margin-left: -490px;
	}
}
.con2 .con2_box4 ul{
	width: 700px;
	height: 110px;
	margin-left: 0;
	-webkit-animation:move 25s linear infinite;
	-o-animation:move 25s linear infinite;
	-ms-animation:move 25s linear infinite;
	-moz-animation:move 25s linear infinite;
}
.con2 .con2_box4 ul li{
	width: 70px;
	height: 110px;
	float: left;
}
.con2 .con2_box4 ul li img{
	width: 50px;
	height: 80px;
}
.con2 .con2_box4 ul li span{
	color: #E8CC83;
	font-size: 14px;
	margin-left: 3px;
}


/* con3 */
.con3{
	width: 100%;
	height: 560px;
	background: url(../image/tiao.png) repeat-x 0 551px;
	background-size: 18px 10px;
	position: relative;
}
.con3box1{
	width: 280px;
	height: 350px;
	position: absolute;
	left: 150px;
	top: 150px;
	border-right: 1px solid #797979;
}
.con3box1 img{
	width: 155px;
	height: 155px;
	border: 1px solid #000;
	padding-left: 1px;
	margin-left: 70px;
}
.con3box1 p{
	width: 300px;
	height: 25px;
	line-height: 30px;
	text-align: center;
	margin-top: 3px;
	font-size: 14px;
	color: #454444;
}
.con3box1 p.p1{
	margin-top: 30px;
}
.con3box2{
	width: 400px;
	height: 350px;
	position: absolute;
	left: 650px;
	top: 150px;
}
.con3box2 p{
	width: 200px;
	height: 25px;
	color: #454444 ;
	line-height: 25px;
	margin-bottom: 5px;
}
.con3box2 input{
	width: 400px;
	height: 28px;
	border:1px dashed #ccc;
	margin-bottom: 20px;
	outline: none;
}
.con3box2 textarea{
	width: 398px;
	height: 70px;
	border:1px dashed #ccc;
	margin-bottom: 20px;
	outline: none;
	overflow: hidden;
}
.con3box2 #btn{
	width: 85px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #676767;
	color: #fff;
	border:none;
}

/* footer */
.footer{
	width: 100%;
	height: 100px;
	background: #ccc;
}
.footer_box{
	width: 1200px;
	height: 100px;
	background: #ccc;
	margin: 0 auto;
}
.footer_box ul{
	width: 510px;
	height: 25px;
	padding-top: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.footer_box ul li{
	width: auto;
	height: 25px;
	float: left;
	margin-left: 5px;
}
.footer_box ul li a{
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #302E2E;
	font-size: 14px;
}
.footer_box ul li a:hover{
	text-decoration: underline;
	color: #fff;
}
.footer_box p{
	width: 700px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #4E4C4C;
}

/* 登录 */
.land{
	display: none;
	width: 100%;
	height: 650px;
	background: rgba(0,0,0,0.4);
	position: fixed;
	left:0;
	top:0;
}
.land_in{
	position: absolute;
	left:50%;
	top:50%;
	margin-left: -180px;
	margin-top: -200px;

	width: 360px;
	height:400px;
	background: #fff;
}
.land_in .top{
	width: 350px;
	height:40px;
	background: #ccc;
	padding:5px;
	position: relative;
}
.land_in .top img{
	display: inline-block;
}
.land_in .top span{
	width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: 宋体;
    font-weight: 700;
    color: rgb(102, 102, 102);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: content-box;
}
.land_in .top .close{
	position: absolute;
	right:5px;
	top:11px;
}
.main{
	padding: 35px 25px;
}
.main input{
	border:1px solid #ccc;
}
.main .inp1{
   background: url(../image/people.png) no-repeat 3px 5px;
   background-size:20px 20px;
   margin-bottom: 30px;
   padding-left: 30px;
}
.main .inp2{
   background: url(../image/close2.png) no-repeat 3px 3px;
   background-size:20px 20px;
   margin-bottom: 15px;
   padding-left: 30px;
}
.main span{
	font-size: 13px;
	color: #bbb;
}
.main .inp3{
	text-align: center;
	color:#fff;
	font-weight: bold;
	font-size: 20px;
	background: rgb(145,146,148);
	margin-top: 10px;
	border:0;
}
.main div{
	height:35px;
	float: right;
	margin-top: 10px;
}
.main a{
	color:blue;
	text-decoration: none;
}
.main hr{
	background: #ccc;
	height:1px;
	width: 310px;
	margin-bottom:15px;
}